.QuestionWrapper
{
  width: 50vw;
}

.unCheck
{

    border: 1px solid black;
    padding: 6px;
    margin: 6px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.unSelectable
{
    color: gray;
    border: 1px solid black;
    padding: 6px;
    margin: 6px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}


.true
{
    background-color: chartreuse;
    border: 1px solid black;
    padding: 6px;
    margin: 6px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;

}

.false
{
    background-color: red;
    border: 1px solid black;
    padding: 6px;
    margin: 6px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}