.QuestionWrapper
{
  width: 50vw;
}

.InfoAnswer
{
    margin-bottom: 2vh;
    color: aliceblue;
}

.Question
{
    margin-bottom: 4vh;
    font-size: xx-large;
    color: yellow;
}

.QuestionButtonWrapper
{
   
}

.unCheck
{

    border: 1px solid black;
    padding: 6px;
    margin: 6px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: azure;
}

.unSelectable
{
    color: gray;
    border: 1px solid black;
    padding: 6px;
    margin: 6px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: rgb(201, 201, 201);
}


.true
{
    background-color: chartreuse;
    border: 1px solid black;
    padding: 6px;
    margin: 6px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    color: rgb(0, 128, 0);

}

.false
{
    background-color: red;
    border: 1px solid black;
    padding: 6px;
    margin: 6px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    color: aliceblue;
}

@media screen and (max-width:780px){
 
    .QuestionWrapper
    {
      width: 92vw;
    }
    
  }