


.HomeWrapper
{
    text-align: center;
    height: 100vh;
}



.PreguntadosImage
{

    margin-top: 10vh;
    margin-bottom: 5vh;

    width:25vw;
    min-width: 280px;
}

.ButtonAtHomeMetaWrapper
{
  position: relative;
  width: 100vw;
}

.ButtonAtHomeWrapper
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 8vh;
  width: 30vw;
}


@media screen and (max-width:780px){
 
  .ButtonAtHomeWrapper
  {
      width: 80vw;
  }
  
}

@media (prefers-reduced-motion: no-preference) {
  .PreguntadosImage {
    animation: preguntados-spin infinite 20s linear;
  }


}

@keyframes preguntados-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
